Python Data Structures
1. Tuple
2. List
3. Dictionary
4. Set

Tuple -> Tuple is an ordered collection of elements enclosed within ()
-> Tuples are immutable
-> In tuple you can store different values in order

In [17]:
tup1 = (1, 'a', True, 3.14, 5-7j)
print(tup1)
print(type(tup1))

(1, 'a', True, 3.14, (5-7j))
<class 'tuple'>

In [5]:
# Extracting individual characters
print(tup1[0])
print(tup1[4])
print(tup1[1:4])

1
(5-7j)
('a', True, 3.14)

In [6]:
# Modifying a tuple
tup1[2] = 'hello' # It will show you this below type error.

TypeError: 'tuple' object does not support item assignment

In [13]:
# tuple basic operations
print(len(tup1)) # Finding the length of a tuple

tup2 = (False, 'b', 3, 656.4345)
tup3 = tup1 + tup2 # Concatenating tuples
print(tup3)

tup4 = ('hii', 300)
print(tup4*3) # Repeating tuple elements

tup5 = (4,5,6)
print(tup4*3 + tup5) # Repeating and concatenating

tup6 = (2,46,432557,35,446,3646,56765)
print(max(tup6)) # Print Maximum value of tuple
print(min(tup6)) # Print Minimum value of tuple

5
(1, 'a', True, 3.14, (5-7j), False, 'b', 3, 656.4345)
('hii', 300, 'hii', 300, 'hii', 300)
('hii', 300, 'hii', 300, 'hii', 300, 4, 5, 6)
432557
2

Python List -> List is an ordered collection of elements enclosed within []
-> Lists are mutable

In [18]:
l1 = [1, 'a', True, 4.64, 'deep']
print(l1)
print(type(l1))

[1, 'a', True, 4.64, 'deep']
<class 'list'>

In [19]:
# Extracting individual elements
print(l1[0])
print(l1[3])
print(l1[2:4])

1
4.64
[True, 4.64]

In [21]:
# Modifying a list
l1[0] = 100
print(l1)

[100, 'a', True, 4.64, 'deep']

In [26]:
# Popping the element
l1.pop()
print(l1)

# Appending element
l1.append('sparta')
print(l1)

[100, 'a', True]
[100, 'a', True, 'sparta']

In [33]:
# Reversing elements of a list
l1.reverse()
print(l1)

# Sorting a list
l2 = [2,6,3,1,5,8,4]
l2.sort()
print(l2)

# Insering element at a specified index
l2.insert(3,74)
print(l2)

['sparta', True, 'a', 100]
[1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 74, 4, 5, 6, 8]

In [34]:
# Concatenating list
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
# Repeating elements
print(l3*2)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
# Removing an element
l3.remove(8)
print(l3)

[1, 2, 3, 4, 5, 6, 7]

Python Dictionaries -> Dictionary is an unordered collection of key-value pairs enclosed with {}
-> Dictionary is mutable

In [42]:
d1 = {
    "Apple": 10,
    "Oranges": 20,
    "Mango": 30
}
print(d1)
type(d1)

{'Apple': 10, 'Oranges': 20, 'Mango': 30}

dict

In [44]:
# Extracting keys and values
print(d1.keys())
print(d1.values())

dict_keys(['Apple', 'Oranges', 'Mango'])
dict_values([10, 20, 30])

In [46]:
# Adding new element
d1['Guava'] = 40
print(d1)

{'Apple': 10, 'Oranges': 20, 'Mango': 30, 'Guava': 40}

In [47]:
# Changing existing element
d1['Apple'] = 100
print(d1)

{'Apple': 100, 'Oranges': 20, 'Mango': 30, 'Guava': 40}

In [48]:
# Update one dictionary's elements with another
fruit1 = {
    'Apple': 10,
    'Orange': 20
}

fruit2 = {
    'Banana': 30,
    'Guava': 40
}

fruit1.update(fruit2)
print(fruit1)

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40}

In [49]:
# Popping an element
fruit1.pop('Banana')
print(fruit1)

{'Apple': 10, 'Orange': 20, 'Guava': 40}

Python set -> Set is an unordered and unindexed collection of elements elclosed within {}
-> Duplicates are not allowed in sets

In [57]:
s1 = {1, 56, 'deep'}
print(s1)
print(type(s1))

{56, 1, 'deep'}
<class 'set'>

In [58]:
# Update one dictionary's elements with another
s1 = {1, 'a', True, 2, 'b', False}
print(s1)

s1.add('hello')
print(s1)

{False, 1, 2, 'a', 'b'}
{False, 1, 2, 'a', 'hello', 'b'}

In [59]:
# Removing an element
s1.remove('b')
print(s1)

{False, 1, 2, 'a', 'hello'}

In [60]:
# Updating multiple elements
s1.update([10,20,30])
print(s1)

{False, 1, 2, 10, 20, 30, 'hello', 'a'}

In [65]:
# Popping an element
s1.pop()
print(s1)

{20, 30, 'hello', 'a'}

In [70]:
# Union, Intersection and Difference of sets
s2 = {1,2,3,4,5}
s3 = {4,5,6,7,8}

s4 = s2.union(s3)
print(s4)

s5 = s2.intersection(s3)
print(s5)

s6 = s2.difference(s3)
print(s6)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}