print() function is used to print the data which was in the braces.

In [4]:
print("Hello World")

Hello World

Variable is used to store data.

In [7]:
student = 'sam'
print(student)

In [10]:
student = 'deep'
print(student)

There are 4 data types in python.
1. int
2. float
3. boolean
4. string

In [12]:
a1 = 10
print(a1)

10

In [14]:
type(a1)

int

In [15]:
a1 = 3.24
type(a1)

float

In [17]:
a1 = True
print(a1)
type(a1)

True

bool

In [18]:
a1 = "Hello World"
print(a1)
type(a1)

Hello World

str

In [19]:
a1 = 3+4j
print(a1)
type(a1)

(3+4j)

complex

Operaters in python
1. Relational Operators => <,>,<=,>=,==,!=
2. Arithmetic Operators => +,-,*,/
3. Logical Operators => and, or, not

In [23]:
# Arithmetic Operator
a = 10
b = 20
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10 20
30
-10
200
0.5

In [24]:
# Relational Operator
a = 50
b = 100
print(a>b)
print(a<b)

False

In [29]:
print(a==b)
print(a!=b)

False
True

In [28]:
print(a<=b)
print(a>=b)

True
False

In [33]:
# Logical Operator
a = True
b = False

In [34]:
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

# This Symbol is used for comment purpose

In [21]:
# comment

Python Tokens => Smallest meaningful componenet in a program
-> Keywords
-> Identifiers
-> Literals
-> Operators

Python Keywords -> Keywords are special reserved words
Ex. False, None, True, and, as, class, continue, def, del, elif, finally, for, from, global, if, is, lambda, nonlocal, not, or, return, try, while, with, yield

Python Identifiers -> Identifiers are names used for variables, functions, or objects.

Rules -> No special character expect _(underscore)
-> Identifiers are case sensitive
-> First Letter cannot be a digit

Python Literals -> Literals are constants in python

Python String -> Strings are sequence of characters enclosed within single quotes(' '), double quotes(" ") or triple quotes(''' ''')

Ex. 'Hello World', "This is sparta", """I am going to france."""

In [46]:
# String methods
my_str = "Hiii my name is deep."
print(my_str[0]) # print 0 index value
print(my_str[-1]) # print last index value
print(my_str[5:20]) # print from index 5 to 20.
print(my_str[5:20:2]) # print from index 5 to 20 but it will skip one character because we give 2 after that last :
print(len(my_str)) # Finding length of the string
print(my_str.lower()) # converting string to lowercase
print(my_str.upper()) # converting string to uppercase
print(my_str.replace("deep", "janvi")) # Replace deep name with janvi in string
print(my_str.count("i")) # counts the value which was given by user in string.
print(my_str.find('deep')) # finds the starting index value of deep.
print(my_str.split(' ')) # split the string by spaces( )

H
.
my name is deep
m aei ep
21
hiii my name is deep.
HIII MY NAME IS DEEP.
Hiii my name is janvi.
4
16
['Hiii', 'my', 'name', 'is', 'deep.']